body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.app {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input[type="text"], button {
  padding: 10px;
  margin: 5px;
}

button {
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #003974;
}

.textbooks {
  overflow-y: auto;
  max-height: 80vh;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.textbook {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.textbook-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.textbook-details {
  margin-left: 10px;
}

.textbook img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.input-group {
  margin-bottom: 10px;
}

input[type="text"], button {
  padding: 10px;
  margin-right: 5px;
  vertical-align: middle;
}