<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="app">
            <header class="header">
                <h1
                    class="title2 multicolor-title">UI<span>BookShelf</span></h1>
                <nav class="navbar">
                    <a onclick="history.back()">Back</a>
                    <a href="/">Home</a>
                    <a href="/browse">Browse</a>
                    <a id="dashboardLink" href="/dashboard">Dashboard</a>
                    <a id="loginLink" href="/login">Login</a>
                    <a id="registerLink" href="/register">Sign Up</a>
                    <a id="logoutLink" href="#" style="display:none;">Logout</a>
                </nav>
            </header>
            <div class="app">
                <h1 class="text">Book Management</h1>
                <div class="input-group">
                    <input type="text" id="isbnInput"
                        placeholder="Enter ISBN to Add">
                    <button id="addTextbookBtn">Add Textbook</button>
                </div>
                <div class="input-group">
                    <input type="text" id="searchInput"
                        placeholder="Title, ISBN, or Author">
                    <button id="searchBtn">Search Textbooks</button>
                </div>
                <div class="input-group">
                    <input type="text" id="isbnOrTitleInput"
                        placeholder="Enter ISBN or Title">
                    <button id="fetchDetailsBtn">Reservation Details</button>
                </div>
                <div class="input-group">
                    <button id="downloadIsbnBtn">Download ISBNs</button>
                    <input type="file" id="uploadIsbnFile" hidden>
                    <button id="uploadIsbnBtn"
                        onclick="document.getElementById('uploadIsbnFile').click();">Upload
                        ISBNs</button>
                </div>
                <div class="navigation">
                    <button id="homeBtn" style="display:none;">Back to
                        Home</button>
                </div>
                <div id="responseMessage"></div>
                <div id="textbooksList" class="textbooks"></div>
            </div>
        </div>
        <script src="/static/js/reservation.js"></script>
        <script src="/static/js/checkAuth.js"></script>
        <script src="/static/js/script.js"></script>
        <script src="/static/js/isbnManager.js"></script>
    </body>
</html>
