<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="app">
        <header class="header">
            <h1 class="title2 multicolor-title">UI<span>BookShelf</span></h1>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/browse">Browse</a>
                <a id="loginLink" href="/login">Login</a>
                <a id="registerLink" href="/register">Sign Up</a>
                <a id="logoutLink" href="#" style="display:none;">Logout</a>
            </nav>
        </header>
        <div class="app">
            <h1 class="text">Book Management</h1>
            <div class="input-group">
                <input type="text" id="isbnInput" placeholder="Enter ISBN to Add">
                <button id="addTextbookBtn">Add Textbook</button>
            </div>
            <div class="input-group">
                <input type="text" id="searchInput" placeholder="Title, ISBN, or Author">
                <button id="searchBtn">Search Textbooks</button>
            </div>
            <div class="navigation">
                <button id="homeBtn" style="display:none;">Back to Home</button>
            </div>
            <div id="responseMessage"></div>
            <div id="textbooksList" class="textbooks"></div>
        </div>
    </div>

    <script src="/static/checkAuth.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
