<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textbook Entry</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="app">
        <h1>Add or Update Textbook</h1>
        <input type="text" id="isbnInput" placeholder="Enter ISBN">
        <button id="addTextbookBtn">Add/Update Textbook</button>
        <div id="responseMessage"></div>

        <!-- Section to display textbooks -->
        <div id="textbooksList" class="textbooks"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
