<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uiowa BookShelf</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Uiowa BookShelf</h1>
    <a href="/login"><button>Login</button></a>
    
    <div class="app">
        <h1>Book Management</h1>
        <div class="input-group">
            <input type="text" id="isbnInput" placeholder="Enter ISBN for Add/Update">
            <button id="addTextbookBtn">Add/Update Textbook</button>
        </div>
        <div class="input-group">
            <input type="text" id="searchInput" placeholder="Search by Title, ISBN, or Author">
            <button id="searchBtn">Search Textbooks</button>
        </div>
        <div class="navigation">
            <button id="homeBtn">Back to Home</button>
        </div>
        <div id="responseMessage"></div>
        <div id="textbooksList" class="textbooks"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
