<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page - UI BookShelf</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="app">
        <header class="header">
            <h1 class="title2 multicolor-title">UI<span>BookShelf</span></h1>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/browse">Browse</a>
                <a href="/login">Login</a>
            </nav>
        </header>

        <section id="loginForm" class="section">
            <h2 class="text">Login</h2>
            <div class="input-group">
                <input type="text" id="usernameInput" placeholder="Username">
            </div>
            <div class="input-group">
                <input type="password" id="passwordInput" placeholder="Password">
            </div>
            <div class="input-group">
                <button>Login</button>
            </div>
            <div id="responseMessage" class="response-message"></div>
        </section>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>