<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Messages — UI BookShelf</title>
        <link rel="stylesheet" href="/static/css/styles.css" />
    </head>
    <body>
        <div class="app">
            <header class="header">
                <h1
                    class="title2 multicolor-title">UI<span>BookShelf</span></h1>
                <nav class="navbar">
                    <a onclick="history.back()">Back</a>
                    <a href="/">Home</a>
                    <a href="/browse">Browse</a>
                    <a id="dashboardLink" href="/dashboard">Dashboard</a>
                    <a id="loginLink" href="/login">Login</a>
                    <a id="registerLink" href="/register">Sign Up</a>
                    <a id="logoutLink" href="#" style="display:none;">Logout</a>
                </nav>
            </header>

            <main class="container">
                <h2 class="text2">Messages</h2>
            </main>
        </div>

        <script src="/static/js/checkAuth.js"></script>
    </body>
</html>
