<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Review Page</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="app">
            <header class="header">
                <h1
                    class="title2 multicolor-title">UI<span>BookShelf</span></h1>
                <nav class="navbar">
                    <a onclick="history.back()">Back</a>
                    <a href="/">Home</a>
                    <a href="/browse">Browse</a>
                    <a id="dashboardLink" href="/dashboard">Dashboard</a>
                    <a id="loginLink" href="/login">Login</a>
                    <a id="registerLink" href="/register">Sign Up</a>
                    <a id="logoutLink" href="#" style="display:none;">Logout</a>
                </nav>
            </header>
            <div class="main-content">
                <div class="reviews-container">
                    <h1 class="text">Reviews</h1>
                    <div id="reviewsList" class="reviews">
                        <!-- Reviews will be dynamically loaded here -->
                    </div>
                </div>
                <div class="buttons-container">
                    <button id="addReviewBtn">Add Review</button>
                    <button onclick="history.back()">Back to Browse</button>
                </div>
            </div>
        </div>
        <script src="/static/js/checkAuth.js"></script>
        <script src="/static/js/reviews.js"></script>
        <script>
        document.getElementById('addReviewBtn').addEventListener('click', function() {
            document.getElementById('reviewFormModal').style.display = 'block';
        });

        document.querySelector('.close').addEventListener('click', function() {
            document.getElementById('reviewFormModal').style.display = 'none';
        });

      
    </script>
    </body>
</html>
