<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Review Form</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Enter Review</h1>
            <form id="reviewForm" class="form-group">
                <input type="hidden" id="isbn" name="isbn">
                <div class="form-group">
                    <label for="review"></label>
                    <textarea id="review" name="review" rows="4"
                        cols="50"></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
            <a onclick="history.back()">Back to Browse</a>
        </div>
        <script src="/static/js/review-form.js"></script>
    </body>
</html>
